#graphdiv {
	 width:750px; 
	 height:300px;
	 margin-left:auto;
	 margin-right:auto;
}
#flowdiv {
	 height:0px;
	 margin:0px;
	 padding:0px;
}
#spacer {
    width:800px;
    height:500px;
}    
#spacer div {
    width: 183px;
    height: auto;
    padding: 10px;
    background-color: lightgreen;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    pointer-events: none;
}
#spacer div p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
#graph2 {
	 width:750px; 
	 height:300px;
	 margin-left:auto;
	 margin-right:auto;
}

#nodetitle {
    font-weight:bold;
    font-size:135%;
    padding-top:30px;
    padding-bottom:20px;
}

#title {
	 font-weight: bold;
	 font-size: 183%;
	 text-align:center;
	 margin-bottom:30px;
	 padding-left:30px;
	 
}
.annotation {
    font-size: 12px !important;
}


svg {
    font: 10px sans-serif;
    display: block;
    margin: auto;
}

.overlay {
    fill: none;
    pointer-events: all;
}

#console {
    padding-top:32px;
    font-size:10px;
}

.xaxis path,
.xaxis line,
.xaxis2 path,
.xaxis2 line,
.yaxis path,
.yaxis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    }

label {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.xaxis text,
.xaxis2 text,
.yaxis text {
    font-family: sans-serif;
    font-size: 11px;
    }
table.pages {
    margin:auto;
    margin-top:2.5px;
}
table.pages td{
    padding-left:15px;
    padding-right:15px;
    text-align:center;
}
table.pages td.linktitle{
    padding-left:15px;
    padding-right:15px;
    padding-bottom:25.7px;
    text-align:center;
    font-size:20px;
}
hr.break{
    margin-top:17.235px;
    margin-bottom:5.75px;
}

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
#tooltipN {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    opacity: 0.0;
}
#tooltipN p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
#tooltipE {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    opacity: 0.0;
}

#tooltipE.hidden {
    display: none;
}

#tooltipE p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}


.bar rect {
      fill: steelblue;
        shape-rendering: crispEdges;
	}

.bar text {
      fill: #fff;
      }

.axis path, .axis line {
      fill: none;
        stroke: #000;
	shape-rendering: crispEdges;
}